{% extends 'base.html' %}

{% block title %}User page{% endblock %}
{% block content %}
    <h1>Details for: {{ user.username }} </h1>
    {% for msg in get_flashed_messages() %}
        <p class="message alert alert-success">{{ msg }}</p>
    {% endfor %}
    <p>Username: {{ user.username }}<br>
    Email: {{ user.email }}<br>
    First Name: {{ user.first_name }}<br>
    Last Name: {{ user.last_name }}</p>
    <form action="/users/{{ user.username }}/delete" method="POST">
        <a href="/users/{{ user.username }}/feedback/add" class="btn btn-info">Add Feedback</a>
        <a href="/logout" class="btn btn-warning">Logout</a>
        <button class="btn btn-danger">Delete User</button>
    </form>
    <h2 class="mt-3">Feedback:</h2>
    {% for feedback in user.feedback %}
    <div class="container">
            <div class="card my-3">
                <div class="card-body">
                <h5 class="card-title">{{ feedback.title }}</h5>
                <p class="card-text">{{ feedback.content }}</p>
                <form action="/feedback/{{ feedback.id }}/delete" method="POST">
                    <a href="/feedback/{{ feedback.id }}/update" class="btn btn-outline-info btn-sm">Edit</a>
                    <button class="btn btn-outline-danger btn-sm">Delete</button>
                </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}